module.exports = {
  app: {
    mongo:
    'mongourl',
    db: 'db',
    port: port-number,
    expose: {
      env: 'prod dev or qa..',
      domain: 'subdomain of env',
    },
  },
  crypto: {
    privateKey: 'private key path',
    publicKey: 'public key path',
  },
}
